<h2>Age of Empires II civilizations<br /></h2>
<div class="[ card-container ]">
      <div class="[ card--text ]" *ngFor="let civ of civilizations">
            <h4>{{ civ.name }}</h4>
            <ul>
                <li *ngFor="let bonus of civ.civilization_bonus">{{ bonus }}</li>
            </ul>
      </div>
</div>
