<app-nasa></app-nasa>

<app-insult></app-insult>

<app-weather></app-weather>

<app-aoe2></app-aoe2>

<h2>Your collection of cats</h2>
<div class="[ card-container ]">
    <app-cats *ngFor="let cat of [0,0,0,0,0,0,0,0,0,0,0,0]"></app-cats>
</div>