<h2>{{weatherTitle}}<br /></h2>
<div class="[ card-container ]">
      <div class="[ card--text ]" *ngFor="let weather of weatherDetail">
            <h4>{{ round(weather.the_temp) }}°C {{ weather.weather_state_name }}</h4>
            <ul>
                  <li>{{ round(weather.min_temp) }}°C to {{ round(weather.max_temp) }}°C</li>
                  <li>Humidity: {{ weather.humidity }}%</li>
            </ul>
      </div>
</div>
