<div class="[ login ]">
  <div>
    <form [formGroup]="form" (ngSubmit)="userDetails(form.value)">
      <input type="text" placeholder="Username" formControlName="username" /><br />
      <span class="[ errors ]" *ngIf="isUsername">Please enter a correct username</span><br />
      <input type="password" placeholder="Password" formControlName="password" /><br />
      <span class="[ errors ]" *ngIf="isPassword">Please enter a correct Password</span><br />
      <button type="Submit">Enter</button> <br/>
    </form>
    <p>Hint:</p>
    <p class="login-hint">Username: Anna, Password: pass123</p>
  </div>
</div>
