@import './../../../styles/_partials-min';

form{
    margin-bottom: 20px;

    input{
        color: $white;
        background-color: $mid;
        border: 1px solid rgba($white, .5);
        border-radius: 8px;

        padding: 6px;
        min-width: 200px;

        &::placeholder{
            color: rgba($white, .6);
        }

        &:hover, &:focus{
            transition: .2s;
            border: 1px solid $detail;
        }
    }

    button{
        color: $white;
        background-color: $detail;
        border: 1px solid rgba($white, .5);
        border-radius: 8px;
        padding: 4px 15px;

        font-size: 14pt;

        &:hover, &:focus{
            transition: .2s;
            color: $mid;
        }
    }
}

.errors{
    color: red;
}

.login-hint{
    font-size: 9pt;
    text-align: right;
    transform: rotate(180deg);
}