@import '_partials-min';

html, body, header, footer,
h1, h2, h3, h4, h5, h6, p, 
img, a, div, nav, li, ul, ol, aside{
	margin: 0;
	padding: 0;
	border: 0;

	text-decoration: none;
	list-style-type: none;

	color: $white;
    font: inherit;
}

html, body{
	background-color: $dark;
	margin: 0;
    height: 100%;
}

body{
	color: $white;
	font-family: $mainFont;
	overflow-x: hidden;

	padding: 10px;
}

h1, h2, h3, h4, h5, h6{
	color: $detail;
	font-family: $headerFont;
	line-height: 2;
}

h1{
	font-size: 28pt;
    margin: 20px 0;
}

h2{
	font-size: 24pt;
    margin-top: 10px;
}

h3{
	font-size: 18pt;
    margin-top: 10px;
}

h4{
	font-size: 14pt;
}

p{
	max-width: 750px;
	font-size: 16pt;
	line-height: 1.5;

	padding-top: 4pt;
    padding-bottom: 4pt;
}
	
a{
	&:link, &:visited{
		transition: 0.4s;
		color: $detail;
        border-bottom: 1px dotted $detail;
    }
	
	&:hover, &:focus{
		transition: 0.2s;
		color: $detail;
        border-bottom: 1px solid $detail;
    }
	
	&:active{
		transition: 0.2s;
		color: $detail;
        border-bottom: 1px solid $detail;
    }
}
	