@import '_partials-min';

.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin-bottom: 20px;
}

.card{
    border: 1px solid rgba($white, .2);
    border-radius: 8px;
    margin: 5px;
    max-width: 300px;

    &--text{
        @extend .card;
        background-color: $mid;
        padding: 10px;

        ul li{
            font-size: 10pt;
            padding: 4px 0;
        }
    }
}