$black: #040504;
$dark: #05063F;
$mid: #404681;
$detail: #FD66DF;
$white: #FFFFFF;

$headerFont: 'Montserrat', Helvetica, Myriad Pro, Arial, sans-serif;
$mainFont: 'Lato', Helvetica, Myriad Pro, Arial, sans-serif;